:root {
    --background-color: #18181B;
    --font-color: #FFFFFF;
    --gradient-pink-color: #E95CE9;
    --gradient-blue-color: #0CBAF1;
}

* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    color: var(--font-color);
}

body, html {
    background-color: var(--background-color);
}

/*! header start !*/

.header {
    height: 114px;
    display: flex;
    align-items: center;
}

.header__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 64px;
}

.header__brand {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    width: 38px;
    height: 30px;
}

.header__name {
    width: 59px;
    height: 16px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 64px; 
    justify-content: center;
}

.header__nav-button {
    background: none;
    border: none;
    padding: 0;
    gap: 0.5rem;
    display: flex;
    cursor: pointer;
}

.header__nav-text, .header__contact-text {
    font-weight: 300;
    display: flex;
    font-size: 1rem;
}

.header__nav-text--active {
    font-weight: 500;
}

.fa-chevron-down {
    font-size: 0.5rem;
}

.background-img {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.header__contact {
    display: flex;
    justify-content: flex-end;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, var(--gradient-blue-color), var(--gradient-pink-color));
    background: none;
    border-image-slice: 1;
    padding: 12px 24px;
    cursor: pointer;
    margin: 0 auto;
}

/*! header end !*/

/*! main start*/

.background-hero-img__content {
    position: absolute;
    margin-top: 160px;
    left: 0;
    pointer-events: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 100px 0px 100px;
    gap: 135px;
    height: 628px;
    margin-top: 16px;
}

.hero__container {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top: 100px;
    padding: 0px 20px 0px 20px;
    gap: 32px;
    align-content: start;
}

.hero__content {
    gap: 12px;
    display: grid;
    grid-template-rows: auto auto;
}

.hero__title {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.5%;
    width: 540px;
}

.hero__discription {
    font-size: 1rem;
    font-weight: 300;
    line-height: 28px;
    width: 446px;
}

.hero_actions {
    margin-top: 32px;
    margin-bottom: 42px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.hero__button {
    border: none;
    background: linear-gradient(to right, var(--gradient-blue-color), var(--gradient-pink-color));
    padding: 18px 38px;
    cursor: pointer;
    margin-bottom: 10px;
}

.hero__button-text {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.hero__media {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.hero__happy-clients {
    display: flex;
    align-items: center;
    gap: 18px;
}

.hero__happy-clients-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__happy-clients-underline {
    width: 47.7px;
    height: 7px;
    margin-top: -4px;
    margin-left: -6px;
}

.hero__video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.hero__video-img {
    width: 196px;
    height: 127.94px;
}

.hero__video-playbutton {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-hero-img__content {
    position: absolute;
    margin-top: 160px;
    left: 0;
    pointer-events: none;
}

.hero__image-content {
    position: absolute;
    pointer-events: none;
    z-index: 1;   
}

.light {
    position: absolute;
    margin-top: 160px;
    right: 0;
    pointer-events: none;
    z-index: 0;
}

/*! main end*/