:root {
    --background-color: #18181B;
    --font-color: #FFFFFF;
    --gradient-pink-color: #E95CE9;
    --gradient-blue-color: #0CBAF1;
}

* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
}

body, html {
    background-color: var(--background-color);
}

.header {
    height: 114px;
    display: flex;
    align-items: center;
}

.header__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 64px;
}

.header__brand {
    display: flex;
    gap: 4px;
    align-items: center;
}

.header__logo {
    width: 38px;
    height: 30px;
}

.header__name {
    width: 59px;
    height: 16px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 64px; 
    justify-content: center;
}

.header__nav-button {
    background: none;
    border: none;
    padding: 0;
    gap: 0.5rem;
    display: flex;
}

.header__nav-item, .header__contact-item {
    color: var(--font-color);
    font-weight: 300;
    display: flex;
    font-size: 1rem;
}

.header__nav-item--active {
    font-weight: 500;
}

.fa-chevron-down {
    font-size: 0.5rem;
    color: var(--font-color);
}

.background-img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.header__contact {
    display: flex;
    justify-content: flex-end;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, var(--gradient-blue-color), var(--gradient-pink-color));
    background: none;
    border-image-slice: 1;
    padding: 12px 24px;
}